Лабораторная работа №20/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"></xs:schema>

<xs:container>
    <xs:complexType>
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
            <xs:element name="comment__section" type="xs:string"/>
            <xs:element name="rate" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:container>